body {
	margin: 0 auto;
	padding: 0px;
	background-color: #f7f9fa;	
	color: black;
	text-align: center;
	font-family: "Open Sans", sans-serif;
}

h3 {
	margin-top: 10px;
	margin-bottom: 20px;
}

#navbar-collapse {
	margin: 0 auto;
	width: 960px;
	max-width: 95%;
}

.navbar-nav>li>a {
	padding: 5px;
}

.navbar {
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
}

ul.nav.navbar-nav {
	height: 100%;

}

#name {
	background-color: #0070ba;
	color: white;
	font-size: 36px;
	font-weight: bold;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
	margin: 5px;
}

#mike-img {
	margin-bottom: 20px;
}

#icon-container {
	margin: 0 auto;
	width: 165px;
}

.icon {
	width: 50px;
	margin: 0 auto;
	border-radius: 4px;
}

#nav-2 {
	display: none;
	background-color: #0c8dc4;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
}

#portfolio-container {
	margin: 0 auto;
	width: 960px;
	max-width: 95%;
	background-color: #f7f9fa;
	border: 1px solid #cccccc;
}

#portfolio-header {
	padding-top: 10px;
	font-size: 44px;
	font-weight: bold;
	color: black;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

#cards-container {
	width: 960px;
	max-width: 95%;
}

.row {
	padding-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #cccccc;
}

.portfolio-image {
	width: 100%;
	border: 1px solid #cccccc;
}

.portfolio-card, .front {
	height: 338px;
	max-height: 100%;
}

.back {
	padding: 10px;
	text-decoration: none;
	color: black;
	background-color: white;
}

a, a:hover {
	text-decoration: none;
}

.card-title {
	font-style: italic;
}