body {
	background-color: #f7f9fa;
  text-align: center;
  font-family: "pp-sans-big-light", "Helvetica Neue", Arial, sans-serif;
}

#header {
    margin-top: 10px;
    margin-bottom: 30px;
}

.row {
    margin-bottom: 10px;
}

#jumbotron {
    padding-top: 10px;
    margin-bottom: 40px;
    border-top: 1px solid #cbd2d6;
    border-bottom: 1px solid #cbd2d6;
    padding-bottom: 20px;
    width: 500px;
    max-width: 95%;
}

#carousel-container {
  margin: 0 auto;
  width: 400px;
}

#carousel {
  height: 250px;
}

#state-header,
#distance-header,
#time-header {
    margin-top: 0px;
    font-size: 28px;
}

span {
  display: inline-block;
}

#carousel {
	height: 250px;
}
.carousel-dialog {
	position: relative;
	top: -245px;
	display: none;
	margin: 0 auto;
	min-width: 150px;
	max-width: 80%;
	background-color: black;
	color: white;
	border-radius: 4px;
}

.carousel-dialog-date {
  margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 4px;
}
.carousel-dialog-city-state {
  margin-top: 0px;
	margin-bottom: 0px;
}

.carousel-dialog-temp {
	margin-top: 0px;
	padding-bottom: 4px;
}
